version: '3.9'
services:
  mosquitto:
    container_name: mosquitto-mqtt
    image: eclipse-mosquitto
    restart: always
    network_mode: "host"   
    ports: 
      - 18883:1883
    volumes:
      - mosquitto-config:/mosquitto/config
      - mosquitto-data:/mosquitto/data
      - mosquitto-log:/mosquitto/log

  home-assistant: 
    container_name: hass
    image: "ghcr.io/home-assistant/home-assistant:stable"
    network_mode: "host"
    ports:
      - 8123:8123
    volumes:
      - hass-config:/config
      - hass-localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true

  node-red:
    image: nodered/node-red:latest
    container_name: node-red-container
    network_mode: "host"
    environment:
      - US= America/Los_Angeles
    volumes:
      - nodered-data:/data
    restart: unless-stopped
    ports:
      - 1881:1880
    privileged: true

    #cloudflare-ddns:




















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    #image: oznu/cloudflare-ddns:latest
    #restart: always
    #environment:
    #  - API_KEY=xxxxxxx
    #  - ZONE=example.com
    #  - SUBDOMAIN=subdomain
    #  - PROXIED=false

volumes:
  # mosquito data storage
  mosquitto-config:
  mosquitto-data:
  mosquitto-log:
  # home assistant storage
  hass-config:
  hass-localtime:
  # node red
  nodered-data:

   
networks:
  default:
